[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
tiktoken = "*"
openai = "*"
environs = "*"
feedparser = "*"
python-dateutil = "*"
selenium = "*"
langchain = "*"
playwright = "*"
aiogram = "*"
python-telegram-bot = {version = "*", extras = ["rate-limiter"]}
psycopg2 = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
